.App {
  background-image: url("./Images/Homepage.png");
  background-size: 100%;
  height: 700px;
  width: 100%;
  padding: 30px;
}

.Find-Upload-Buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

.Header {
  text-align: left;
}

.Test {
  background-image: url("./Images/Upload.png");
  background-size: 100%;
  height: 700px;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
